In [1]:
%pip install -q pandas scikit-learn numpy

Note: you may need to restart the kernel to use updated packages.

In [2]:
import os
import zipfile
import pandas as pd
import numpy as np
from sklearn.model_selection import StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
path_data = "dataset"
path_dataset_download = "dataset/gallstone-1.zip"
path_dataset_file = "dataset/Gallstone_csv.csv"

os.makedirs(path_data, exist_ok=True)
if not os.path.exists(path_dataset_download):
    !curl -L "https://www.kaggle.com/api/v1/datasets/download/yasserhessein/gallstone" -o "{path_dataset_download}"
zipfile.ZipFile(path_dataset_download, 'r').extractall(path_data)

In [4]:
df = pd.read_csv(path_dataset_file)
df.head()

,Gallstone Status,Age,Gender,Comorbidity,Coronary Artery Disease (CAD),Hypothyroidism,Hyperlipidemia,Diabetes Mellitus (DM),Height,Weight,...,High Density Lipoprotein (HDL),Triglyceride,Aspartat Aminotransferaz (AST),Alanin Aminotransferaz (ALT),Alkaline Phosphatase (ALP),Creatinine,Glomerular Filtration Rate (GFR),C-Reactive Protein (CRP),Hemoglobin (HGB),Vitamin D
0,0,50,0,0,0,0,0,0,185,92.8,...,40.0,134.0,20.0,22.0,87.0,0.82,112.47,0.0,16.0,33.0
1,0,47,0,1,0,0,0,0,176,94.5,...,43.0,103.0,14.0,13.0,46.0,0.87,107.10,0.0,14.4,25.0
2,0,61,0,0,0,0,0,0,171,91.1,...,43.0,69.0,18.0,14.0,66.0,1.25,65.51,0.0,16.2,30.2
3,0,41,0,0,0,0,0,0,168,67.7,...,59.0,53.0,20.0,12.0,34.0,1.02,94.10,0.0,15.4,35.4
4,0,42,0,0,0,0,0,0,178,89.6,...,30.0,326.0,27.0,54.0,71.0,0.82,112.47,0.0,16.8,40.6

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319 entries, 0 to 318
Data columns (total 39 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Gallstone Status                                319 non-null    int64
 1   Age                                             319 non-null    int64
 2   Gender                                          319 non-null    int64
 3   Comorbidity                                     319 non-null    int64
 4   Coronary Artery Disease (CAD)                   319 non-null    int64
 5   Hypothyroidism                                  319 non-null    int64
 6   Hyperlipidemia                                  319 non-null    int64
 7   Diabetes Mellitus (DM)                          319 non-null    int64
 8   Height                                          319 non-null    int64
 9   Weight                                          319 non-null    float64
 10  Body Mass Index (BMI)                           319 non-null    float64
 11  Total Body Water (TBW)                          319 non-null    float64
 12  Extracellular Water (ECW)                       319 non-null    float64
 13  Intracellular Water (ICW)                       319 non-null    float64
 14  Extracellular Fluid/Total Body Water (ECF/TBW)  319 non-null    float64
 15  Total Body Fat Ratio (TBFR) (%)                 319 non-null    float64
 16  Lean Mass (LM) (%)                              319 non-null    float64
 17  Body Protein Content (Protein) (%)              319 non-null    float64
 18  Visceral Fat Rating (VFR)                       319 non-null    int64
 19  Bone Mass (BM)                                  319 non-null    float64
 20  Muscle Mass (MM)                                319 non-null    float64
 21  Obesity (%)                                     319 non-null    float64
 22  Total Fat Content (TFC)                         319 non-null    float64
 23  Visceral Fat Area (VFA)                         319 non-null    float64
 24  Visceral Muscle Area (VMA) (Kg)                 319 non-null    float64
 25  Hepatic Fat Accumulation (HFA)                  319 non-null    int64
 26  Glucose                                         319 non-null    float64
 27  Total Cholesterol (TC)                          319 non-null    float64
 28  Low Density Lipoprotein (LDL)                   319 non-null    float64
 29  High Density Lipoprotein (HDL)                  319 non-null    float64
 30  Triglyceride                                    319 non-null    float64
 31  Aspartat Aminotransferaz (AST)                  319 non-null    float64
 32  Alanin Aminotransferaz (ALT)                    319 non-null    float64
 33  Alkaline Phosphatase (ALP)                      319 non-null    float64
 34  Creatinine                                      319 non-null    float64
 35  Glomerular Filtration Rate (GFR)                319 non-null    float64
 36  C-Reactive Protein (CRP)                        319 non-null    float64
 37  Hemoglobin (HGB)                                319 non-null    float64
 38  Vitamin D                                       319 non-null    float64
dtypes: float64(28), int64(11)
memory usage: 97.3 KB

## Separando rotulo e atributos

In [6]:
X,y = df.drop(columns=["Gallstone Status"]), df["Gallstone Status"]

# Stratified K-Fold Cross Validation

In [7]:
skf = StratifiedKFold(n_splits=5, shuffle=True)

model = RandomForestClassifier()

In [ ]:
NUM_TEST = 10
metrics = {
    "accuracy": [],
    "precision": [],
    "recall": [],
    "f1_score": [],
    "kappa": []
}

for i in range(NUM_TEST):
    print(f"Test Split {i + 1}")

    X_train_val, X_test, y_train_val, y_test = train_test_split(
        X, y, test_size=0.1, shuffle=True
    )

    for fold, (train_index, val_index) in enumerate(skf.split(X_train_val, y_train_val)):
        print(f"Fold {fold + 1}")

        X_train, X_val = X_train_val.iloc[train_index], X_train_val.iloc[val_index]
        y_train, y_val = y_train_val.iloc[train_index], y_train_val.iloc[val_index]

        model.fit(X_train, y_train)

        y_val_pred = model.predict(X_val)
        val_accuracy = accuracy_score(y_val, y_val_pred)
        accuracy_scores.append(val_accuracy)
        print(f"Validation Accuracy: {val_accuracy:.4f}")

Test Split 1
Fold 1
Validation Accuracy: 0.7586
Fold 2
Validation Accuracy: 0.7586
Fold 3
Validation Accuracy: 0.6842
Fold 4
Validation Accuracy: 0.7895
Fold 5
Validation Accuracy: 0.7544
Test Split 2
Fold 1
Validation Accuracy: 0.7414
Fold 2
Validation Accuracy: 0.7931
Fold 3
Validation Accuracy: 0.7719
Fold 4
Validation Accuracy: 0.7544
Fold 5
Validation Accuracy: 0.7544
Test Split 3
Fold 1
Validation Accuracy: 0.7414
Fold 2
Validation Accuracy: 0.8276
Fold 3
Validation Accuracy: 0.6842
Fold 4
Validation Accuracy: 0.7895
Fold 5
Validation Accuracy: 0.7895
Test Split 4
Fold 1
Validation Accuracy: 0.7069
Fold 2
Validation Accuracy: 0.6897
Fold 3
Validation Accuracy: 0.7018
Fold 4
Validation Accuracy: 0.8596
Fold 5
Validation Accuracy: 0.7719
Test Split 5
Fold 1
Validation Accuracy: 0.8448
Fold 2
Validation Accuracy: 0.7586
Fold 3
Validation Accuracy: 0.8070
Fold 4
Validation Accuracy: 0.7368
Fold 5
Validation Accuracy: 0.7719
Test Split 6
Fold 1
Validation Accuracy: 0.8621
Fold 2
Validation Accuracy: 0.6724
Fold 3
Validation Accuracy: 0.8070
Fold 4
Validation Accuracy: 0.7895
Fold 5
Validation Accuracy: 0.7895
Test Split 7
Fold 1
Validation Accuracy: 0.6724
Fold 2
Validation Accuracy: 0.8276
Fold 3
Validation Accuracy: 0.7193
Fold 4
Validation Accuracy: 0.7719
Fold 5
Validation Accuracy: 0.7544
Test Split 8
Fold 1
Validation Accuracy: 0.7586
Fold 2
Validation Accuracy: 0.8276
Fold 3
Validation Accuracy: 0.7368
Fold 4
Validation Accuracy: 0.7544
Fold 5
Validation Accuracy: 0.6667
Test Split 9
Fold 1
Validation Accuracy: 0.6897
Fold 2
Validation Accuracy: 0.7241
Fold 3
Validation Accuracy: 0.8596
Fold 4
Validation Accuracy: 0.7368
Fold 5
Validation Accuracy: 0.8246
Test Split 10
Fold 1
Validation Accuracy: 0.7759
Fold 2
Validation Accuracy: 0.7931
Fold 3
Validation Accuracy: 0.8246
Fold 4
Validation Accuracy: 0.7719
Fold 5
Validation Accuracy: 0.8070

In [9]:
np.mean(accuracy_scores), np.std(accuracy_scores)

(np.float64(0.7651845130066548), np.float64(0.05086482791072884))